.button{

    width: 300px;
    height: 40px;
    border: #4aa5ff;
    background: darkolivegreen;
    float: left;
    text-align: center;
    margin-top: -7px;
    color: white;
    border-radius: 2%;


}
.button:hover{
    background: #1e7e34;
}