.card {
  background-color: rgba(214, 173, 95, 0.4);
  margin: 5px 5px;
  display: flex;
  justify-content: space-around;
}
/* .rate {
  position: absolute; 
  z-index: 0;
} */

.star {
 position: absolute; 
 top: 0;
  z-index: 0;
}

.asd {
 position: relative; 
  
}
