.card {
  background-color: rgba(214, 173, 95, 0.4);
  margin: 5px 5px;
  display: flex;
  justify-content: space-around;
}

.rate {
  position: absolute; 
  bottom: 1rem;
  left: 2rem;
  z-index: 0;
}

.star {
  position: relative; 
}

.description {
  display: flex;
}
