.form{
    border-color: #1e7e34;
    border-width: 1px;
    border-radius: 5px;
    background-color: #c9d1d9;
}
.button{
    color: #1e7e34;
    margin-left: 5px;
    border-radius: 5px;
    width: 150px;
    background-color: #20c997;
}