.button{

    width: 150px;
    height: 40px;
    border: #4aa5ff;
    background: #ad1111;
    float: right;
    text-align: center;
    margin-top: -7px;
    color: white;
    border-radius: 5%;
    padding: 8px;
}
.button:hover{
    background: #1e7e34;
}
